<h2>{{ course.title }} - Module {{ course.level }} </h2>
<hr>
<h3>Annonces:</h3>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">Annoucements</div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore pariatur, quas ratione repellendus nesciunt animi debitis numquam quod, nobis eos vero consequuntur qui nam cupiditate reiciendis, sequi nihil officia? Quaerat.
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">Annoucements</div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore pariatur, quas ratione repellendus nesciunt animi debitis numquam quod, nobis eos vero consequuntur qui nam cupiditate reiciendis, sequi nihil officia? Quaerat.
        </div>
    </div>
  </div>
</div>

      
<div class="panel-body">
  <div class="col-md-6"> </div>
  <a href="">More...</a>
</div>
<hr>

<h3>Fichiers:</h3>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">Catégorie</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">fichier1.xls</li>
            <li class="list-group-item">fichier2.pdf</li>
            <li class="list-group-item">fichier3.docx</li>
          </ul>
        </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">Catégorie 2</div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">fichier1.xls</li>
            <li class="list-group-item">fichier2.pdf</li>
            <li class="list-group-item">fichier3.docx</li>
          </ul>
        </div>
    </div>
  </div>
</div>

<hr>