<h3>Ajouter un cours</h3>
<form ngForm (ngSubmit)="onSubmit(f)"  #f="ngForm">
    <div class="form-group">
      <label for="title">Titre</label>
      <input 
        type="text" 
        class="form-control" 
        id="title" 
        placeholder="Titre"
        name="title"
        ngModel
        required>
    </div>
    <div class="form-group">
      <label for="level">Niveau</label>
      <input 
        type="number" 
        class="form-control" 
        id="level" 
        placeholder="Niveau"
        name="level"
        ngModel
        required>
    </div>
    <!-- add select teacher -->
    <button [disabled]="f.invalid" type="submit" class="btn btn-default">Ajouter</button>
  </form>