/* You can add global styles to this file, and also import other style files */
a{
    cursor: pointer;
}
li{
    outline: none;
}
@media (min-width: 500px) {
    .alignHorizontally {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
}

h1,h2,h3{
    margin-top: 15px;
    margin-bottom: 15px;
}